ion-item{
    --ion-background-color: transparent;
    color: #3f3d3d;
    width: 80%;
    display: block;
    margin:auto;
    border: none;
}
ion-label{
    --ion-font-size: 10px;
}
.terms{
    width:90%;
}

ion-input{
  
    color: #3f3d3d;
}

h5{
    display: flex;
    color:#3f3d3d ;
    font-size: 12px;
    justify-content: center;
}

h4{
    margin-top: 50px;
    display: flex;
    font-size: 40px;
    color: #E65100;
    justify-content: center;
}

ion-button{
    margin-left: auto;
    margin-top: 50px;
    margin-right: 20px;
    display: block;
    width: 20%;
    height: 50px;
}

