

<ion-content >

  <h4>Car Info</h4>

  <ion-item>
    <ion-label style="font-size:12px"  position="floating">Car Manufacturer</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-item>
      <ion-label style="font-size:12px"  position="floating">Car Model</ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label style="font-size:12px"  position="floating">Year of Manufacture</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label style="font-size:12px"  position="floating">Plate Number</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

  <ion-button (click)="finish()">Finish</ion-button>

</ion-content>
