ion-input{
    border-radius: 5px;
    border: 1px solid #E65100;
    width: 80%;
    margin-top: 60%;
    margin-right: auto;
    margin-left: auto;
    display: block;
    height: 50px;
    color: #1b1b1b;
}

h5{
    display: flex;
    font-size: 12px;
    justify-content: center;
}

h4{
    margin-top: 50px;
    display: flex;
    font-size: 40px;
    color: #E65100;
    justify-content: center;
}

ion-button{
    margin-left: auto;
    margin-top: 50px;
    margin-right: 20px;
    display: block;
    width: 20%;
    height: 50px;
}

