<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" class="menu">
          <ion-menu-button autoHide="false"></ion-menu-button>
        </ion-buttons>
    <ion-title>ILCITY</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h3 class="ion-padding">Hello {{Name}}!</h3>

<span>Pick a Ride...</span> 

<!-- <ion-item lines="none">
  <ion-button (click)="Sunilorin()">UNILORIN</ion-button>
  <ion-button (click)="Schildren()">CHILDREN</ion-button>
  <ion-button (click)="Stown()">TOWN</ion-button>
</ion-item> -->

<ion-segment (ionChange)="segmentChanged()" [(ngModel)]="segment" color="primary">
  <ion-segment-button value="0">
    <ion-label>UNILORIN</ion-label>
  </ion-segment-button>
  <ion-segment-button value="1">
   <ion-label>CHILDREN</ion-label>
  </ion-segment-button>
  <ion-segment-button value="2">
    <ion-label>TOWN</ion-label>
   </ion-segment-button>

</ion-segment>

<ion-slides #slides (ionSlideDidChange)="slideChanged()" scrollbar="true">
    <ion-slide>
        <ion-radio-group>
            <ion-list-header>
              Current Location
            </ion-list-header>
            <ion-item>
                <p slot="start">Unilorin
                   <ion-radio  value="Unilorin"></ion-radio>
                  </p>
              
             
                <p slot="end" class="to">Others
                  <ion-radio value="Others"></ion-radio>
                </p>
              
              </ion-item>
          </ion-radio-group>

          <ion-radio-group>
              <ion-list-header>
                Destination Location
              </ion-list-header>
              <ion-item>
                <p slot="start">Unilorin
                   <ion-radio  value="Unilorin"></ion-radio>
                  </p>
              
             
                <p slot="end" class="to">Others
                  <ion-radio value="Others"></ion-radio>
                </p>
              
              </ion-item>
            </ion-radio-group>
            <ion-button expand="full">PLACE ORDER @ NGN 700</ion-button>
      </ion-slide>

      <ion-slide>

          <ion-item>
              <ion-label style="font-size:12px"  position="floating">Number of Children</ion-label>
              <ion-input type="number"></ion-input>
            </ion-item>
          
            <ion-radio-group>
            
                <ion-item>
                  <p slot="start">From School
                     <ion-radio  value="From School"></ion-radio>
                    </p>
                
               
                  <p slot="end" class="to">To School 
                    <ion-radio value="To School"></ion-radio>
                  </p>
                
                </ion-item>
              </ion-radio-group>

            <ion-item>
              <ion-label style="font-size:12px"  position="floating">Number of Children</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label style="font-size:12px"  position="floating">Number of Children</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label style="font-size:12px"  position="floating">Number of Children</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-radio-group>
            
                <ion-item>
                  <p slot="start">On-time Pick up
                     <ion-radio  value="On-time"></ion-radio>
                    </p>
                
               
                  <p slot="end" class="to">Regular Pick up 
                    <ion-radio value="Regular"></ion-radio>
                  </p>
                
                </ion-item>
              </ion-radio-group>
              <ion-button expand="full">PLACE ORDER</ion-button>
        </ion-slide>
        
        <ion-slide>
            <ion-radio-group>
                <ion-list-header>
                  Current Location
                </ion-list-header>
                <ion-item>
                    <p slot="start">Unilorin
                       <ion-radio  value="Unilorin"></ion-radio>
                      </p>
                  
                 
                    <p slot="end" class="to">Others
                      <ion-radio value="Others"></ion-radio>
                    </p>
                  
                  </ion-item>
              </ion-radio-group>
    
              <ion-radio-group>
                  <ion-list-header>
                    Destination Location
                  </ion-list-header>
                  <ion-item>
                    <p slot="start">Unilorin
                       <ion-radio  value="Unilorin"></ion-radio>
                      </p>
                  
                 
                    <p slot="end" class="to">Others
                      <ion-radio value="Others"></ion-radio>
                    </p>
                  
                  </ion-item>
                </ion-radio-group>
                <ion-button expand="full">PLACE ORDER</ion-button>
          </ion-slide>
</ion-slides>
</ion-content>
